@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family:Arial, Helvetica, sans-serif;
	font:bold;
	color: #393838;
}
#menu{
	width:100%;
	background-color:#f1f1f1;
	position:fixed;
	top:0;
	opacity:0.5;
	transition:top 1s;
}

#menu:hover{
	opacity:1
}

#logo{
	padding-left:50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow:auto;
    background-color: #f1f1f1;
	width:100%;
}

li {
	text-align:center;
	padding:14px 16px;
	float:left;
}

li a, .dropbtn {
    display: inline-block;
    color:#393838;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
	color:#525252;

}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display:block;
}	
li.right {float: right;}

	

	

/*footer*/
.footer{
	background-color:#f1f1f1;
	padding-top:25px;
	padding-bottom:40px;
	
}

/*index*/
.background{
	width:100%;
	margin-top:70px;
}

.banner4{
	width:100%;
	margin-top:8px;
	margin-bottom:8px;
}


/*features*/
.ftbackground{
	width:100%;
	margin-top:70px;
}

.features1{
	margin:auto;
	margin-bottom:10px;
}


/*about*/
.abbackground{
	width:100%;
	margin-top:70px;
}

.about2{
	padding-top:150px;
	width:85%;
	margin:auto;
}

.about3{
	padding-bottom:180px;
	font-size:24px;
	text-align:right;
	background-color:transparent;
	margin:auto;
	width:85%;
}
.textab{
	margin-left:65%;
}

/*shop*/
.shop1{
	margin-top:70px;
	width:100%;
}

/*signin*/
.sgbackground{
	width:100%;
	margin-top:150px;
	margin-bottom:120px;
}

.signin{
	width:55%;
	margin:auto;
	text-align:left;
}
input[type=text]{
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	border:none;
	border-bottom:2px solid;
	border-bottom-color:#666;
	
}

input[type=text]:focus{
	padding-top:5px;
	padding-bottom:4px;
	outline:none;
}

input[type=password]{
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	border:none;
	border-bottom:2px solid;
	border-bottom-color:#666;
}

input[type=password]{
	padding-top:5px;
	padding-bottom:4px;
	outline:none;
}

input[type=submit]{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	background-color:transparent;
	border-radius:4px;
	border:2px solid;
	border-color:#666;
	color:#393838;
}

input[type=submit]:hover{
	border:none;
	background-color:#393838;
	color:white;
}

	

button{
	width:100%;
	background-color:transparent;
	border-radius:4px;
	border:2px solid;
	border-color:#666;
	color:#393838;
	
}
button:hover{
	border:none;
	background-color:#393838;
	color:white;
}

button a{
	display:inline-block;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	text-decoration:none;
	color:#393838;
}

button a:hover{
	display:block;
	text-decoration:none;
	color:white;
}
button a:active{
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration:none;
	color:white;
}


/*account*/
.acbackground{
	width:100%;
	margin-top:150px;
	margin-bottom:120px;
}

.account{
	width:55%;
	margin:auto;
	text-align:left;
}

/*wallet*/
.wlbackground{
	margin-top:100px;
	margin-bottom:120PX;
	width:100%;
}
.wallet{
	width:90%;
	margin:auto;
	text-align:center;
}














